 <style>
  .lista-productos {
    border: 1px solid black;
    width: 96vw;
    padding-right: 2%;
    box-shadow: 3px 5px 5px black;
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-content: flex-start; 
    background-image: url('https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    z-index: 150;
  }

  .item-lista {
    text-align: center;
    width: 20%;
    margin: 10px; 
    padding: 0%;
    border: 1px solid #ccc;
    border-radius: 4%;
    box-shadow: 2px 2px 10px rgba(232, 232, 232);
    display: inline flow-root list-item;
    list-style: none;
    background-color: rgba(211, 211, 207, 0.53);
  }
  .item-lista:hover {
   transform: scale(1.1);
   transition: all .3s ease-in-out; 
       box-shadow: 2px 2px 10px rgb(1, 1, 1);
  }
  .item-button {
    background-color: rgba(243, 159, 14, 0.909);
    border-radius: 40px;
    color: rgb(255, 252, 252);
    cursor: pointer;
    height: 10%;
    width: 40%;
    position:relative;
    bottom: 45%;
    border: 2px solid transparent;
    transition: border-width 0.5s, border-radius 0.5s;
    }
  .item-button:hover{
    background-color:rgba(255, 193, 87, 0.909);
    color: rgba(165, 106, 5, 0.909);
    border-color: rgb(105, 207, 236);
    font-weight: 800;
    border-width: 2px;
    border-radius: 5%;
  }
  .item-button:active{
    background-color:rgba(182, 87, 15, 0.86);
    color: rgb(255, 252, 252);
    box-shadow: inset 0px 0px 10px 5px rgba(1, 1, 1, 0.5);
    font-weight: 800;
    border: none;
  }
  .actual-page{
    font-size: 1rem;
    margin:0.5rem;
    padding: 0.5rem;
    border:1px solid black;
    border-radius: 40px;
    background-color: rgba(243, 159, 14, 0.909);
  }
  .next-button{
    height: 100%;
    cursor: pointer;
  }
 .prev-button{
    height: 100%;
    cursor: pointer;
  }
  .container-pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .item-image{
    width:100%;
    height: min-content;
  }
  .button-logout {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 10%;
    height: 5%;
    border-radius: 40px;
    background-color: rgb(78, 78, 183);
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .user-data {
    margin-top: 5%;
    color: #f1f1f1;
    font-family:sans-serif;
  }
  .contenedorDatosUsuario{
    border: 1px solid black;
    width: fit-content;
    padding: 1rem;
    background-color: rgba(214, 115, 80, 0.795);
  }

@media screen  and (min-width: 1400px) and (max-width: 1700px) {
    .item-button {
      width: 60%;
      font-size: 0.8rem;
      position:relative;
      bottom: 40%;
    }
}
@media screen  and (min-width: 768px) and (max-width: 1400px) {
    .item-button {
      width: 60%;
      font-size: 0.8rem;
      position:relative;
      bottom: 60%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .item-button {
      width: 60%;
      font-size: 0.8rem;
    }
    .item-lista {
        height: 120%;
  }
  .button-logout{
    width: 15%;
  }
}
@media screen and (min-width: 380px) and (max-width: 480px) {
    .item-button {
      width: 60%;
      font-size: 0.8rem;
    }
    .item-lista {
        height: 120%;
        width: 40%;
  }
    .button-logout{
       width: 15%;
  }
   .user-data {
    margin-top: 10%;
  }
}
@media screen and (max-width: 380px) {
    .item-button {
      width: 50%;
      height: 25%;
      font-size: 0.8rem;
    }
    .item-lista {
        height: 120%;
        width: 100%;
  }
    .button-logout{
       width: 20%;
  }
  .user-data {
    margin-top: 10%;
  }
}

</style>


<a href="/api/session/logout"><button class="button-logout">Salir</button></a>
<div class="contenedorDatosUsuario">
  <h1 class="user-data">Bienvenido/a:  
    {{#if user.name}}
      {{user.name}}
    {{else}}
      {{user.email}}
    {{/if}} 
    </h1>
  <h3 class="user-data">email: {{user.email}}</h3>
  <h3 class="user-data">edad: {{user.age}}</h3>
</div>
{{!-- agregar validacion para el email que piden y tomarlo como admin email: adminCoder@coder.com pass: adminCod3r123 --}}
<script>
  // Get the user email and password
  var userEmail = "{{user.email}}";

  // Check if the user is an admin
  if (userEmail === "adminCoder@coder.com") {
    // Create a new heading element
    var heading = document.createElement("h3");
    heading.textContent = "Tipo de usuario: Administrador.";

    // Append the heading to the document body or any other desired location
    document.body.appendChild(heading);
  }
</script>




<h2>Una paginación con todos tus productos</h2>


<div class="container-pagination"id="pagination">
  <button id="prevPageBtn">Anterior</button>
   <p id="actualPage"></p>
  <button id="nextPageBtn">Siguiente</button>
</div>

<div class="lista-productos" id="lista-productos"></div>


<script type="module" src="/js/products.js"></script> 







